
/* slide top right */
.slide-top-right-enter-from {
    transform: translateY(100%) translateX(-100%);
  }
  
  .slide-top-right-enter-active {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  
  }
  
  .slide-top-right-enter-to {
    transform: translateY(0%) translateX(0%);
  
  }
  
  .slide-top-right-leave-from {
    transform: translateY(0%) translateX(0%);
  
  }
  
  .slide-top-right-leave-active {
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  }
  
  .slide-top-right-leave-to {
    transform: translateY(-100%) translateX(100%);
  
  }