/* Scale in */
.scale-in-enter-from {
    transform: scale(2);
  }
  
  .scale-in-enter-active {
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  
  }
  
  .scale-in-enter-to {
    transform: scale(1);
  
  }
  
  .scale-in-leave-from {
    transform: scale(1);
    opacity: 1;
  
  }
  
  .scale-in-leave-active {
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  }
  
  .scale-in-leave-to {
    transform: scale(0);
    opacity: 0;
  
  }
  